@font-face {
    font-family: 'impact_labelregular';
    src: url('Impact_Label-webfont.eot');
    src: url('Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('Impact_Label-webfont.woff2') format('woff2'),
         url('Impact_Label-webfont.woff') format('woff'),
         url('Impact_Label-webfont.ttf') format('truetype'),
         url('Impact_Label-webfont.svg#impact_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    background-size: cover;
}

body {
    background: url('/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    font-family: 'Roboto', sans-serif;
}

body.om-mig {
    background-image: url('/om-mig_baggrund.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 992px) {
    body.om-mig {
        background-image: url('/desk.jpg');
    }
  }

.logo {
    margin: 30px 0;
    display: block;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin-bottom: 50px;
}

.intro {
    max-width: 50%;
    float: left;
}

@media screen and (max-width: 992px) {
    .intro {
      max-width: 100%;
      float: none;
    }
  }

.about-me-link {
    font-family: 'impact_labelregular';
    color: #000;
    float: right;
    margin-top: -87px;
    font-size: 18px;
    transform: rotate(-3deg);
}
.about-me-link:hover {
    transform: rotate(4deg) scale(1.4);
}

.types {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

@media screen and (max-width: 980px) {
    .types {
        width: 80%;
        margin: 50px auto;
    }
  }

.type {
    text-align: center;
    width: 210px;
    float: left;
    margin-left: 33px;
    height: 300px;
}

@media screen and (max-width: 700px) {
    .type {
      margin-left: 0;
    }
  }

.type .card-title {
    font-family: 'impact_labelregular';
    color: #000;
    font-size: 18px;
}

.type--gd p {
    transform: rotate(-3deg);
}

.type--ty p {
    transform: rotate(4deg);
}

.type--gb p.first {
    transform: rotate(2deg);
}
.type--gb p.second {
    transform: rotate(-4deg);
    margin-top: -8px;
}


.type--gp p.first {
    transform: rotate(-3deg);
}
.type--gp p.second {
    transform: rotate(3deg);
    margin-top: -8px;
}



/*
Rotate Card
*/
.card-rotate {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 210px;
    height: 210px;
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    border: 1px solid #4b4b4b;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,0.2);
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: rgba(255,255,255,0.2);
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 35px;
        box-sizing: border-box;
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    background: rgba(255,255,255,1);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.card-link {
    display: block;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid #333;
    text-decoration: none;
    background: #000;
    color: #fff;
    width: 100%;
}

.card-link:hover {
    background: rgba(50,50,50,.2);
    color: #000;
}

.om-mig-text {
    background-color: rgba(255,255,255,0.4);
    margin: 0% 0 0 55%;
    padding: 30px;
    line-height: 28px;
    font-size: 21px;
    text-shadow: 0 0 5px #fff;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .om-mig-text {
        margin: 20px;
        margin-bottom: 150px;
    }
  }

dl.resume dt {
    float: left;
    clear: left;
    font-weight: bold;
}

dl.resume dd {
    float: left;
    width: 300px;
}
